<!doctype html>
<html lang="en">
<head>
<title>Hello</title>
</head>

<body>
<div>
<p>Aujourd'hui on est le:{{"now" | date("d/m/Y")}}</p>
<h1>Hello {{ prenom | capitalize}} {{ nom | capitalize}}</h1>
</div>
</body>

</html>